[user]
	email = linus@nordberg.se
	name = Linus Nordberg
[status]
	showUntrackedFiles = no
[http]
#        sslCAPath = /usr/share/ca-certificates
#        sslCAInfo = /usr/local/share/certs/ca-root-nss.crt
        sslCAInfo = /etc/ssl/certs/ca-certificates.crt
[push]
	default = current
[transfer]
        fsckobjects = true
[fetch]
        fsckobjects = true
[receive]
        fsckobjects = true
