.~
.cache
.compiz
.config
.emacs.d
.fontconfig
.evolution
.gconf
.gnome
.gnome2
.gnupg
.libreoffice
.local
.mozilla
.openoffice.org
.pulse
.sbcl
.slime
.shotwell
.subversion
.texmf-var
.thumbnails
.tor
.vidalia
.virt-manager
bin
maatuska
p
pics
quicklisp
u
usr
