.~
.bash_history
.cache
.caff
.compiz
.config
.emacs.d
.easytag
.gimp-2.8
.gnupg*
.mcabber
.fontconfig
.evolution
.gconf
.gnome
.gnome2
.gnupg
.jabber-avatars
.libreoffice
.local
.mozilla
.ndn
.openoffice.org
.pulse
.priv/ostick.img
.priv/tstick.img
.priv/irc-logs*
.sbcl
.slime
.shadow
.shotwell
.subversion
.texmf-var
.thumbnails
.tor
.vidalia
.virt-manager
.w3m
.xsession-errors
bin
forty711
maatuska
ostick
p
pics
quicklisp
src
tmp
tor-browser*
tstick
u
usr
