! This is ~/.Xresources
! Usage: xrdb -merge ~/.Xresources

! this makes M-BACKSPACE work as intented in xterm:
XTerm*EightBitInput: false
XTerm*background: black
!XTerm*background: white
XTerm*foreground: green
!XTerm*foreground: black
!XTerm*foreground: white

! This makes xterm use the X clipboard (I think). Among other things,
! it really makes pass -c so much better!
XTerm*selectToClipboard: true
